extends trial-layout

block append head
    title #{vendor.meta.title} | Fitternity
    meta(name="description" content="#{vendor.meta.description}")
    meta(name="robots" content="index,follow")
    link(rel="canonical", href="https://www.fitternity.com/#{vendor.slug}")
    //- Facebook
    meta(property="og:title" content="#{vendor.meta.title}")
    meta(property="og:site_name" content="Fitternity")
    meta(property="og:url" content="https://www.fitternity.com/#{vendor.slug}")
    meta(property="og:description" content="#{vendor.meta.description}")
    meta(property="og:image" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
    //- Twitter
    meta(property="twitter:title" content="#{vendor.meta.title}")
    meta(property="twitter:description" content="#{vendor.meta.description}")
    meta(property="twitter:site" content="@FitternityIndia")
    meta(property="twitter:image:src" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
block content
    //- Total Types of Trials
    //- 1. Book Trial
    //- 2. Book a paid Trial
    //- 3. Book a manual Trial
    .typeofsession.hide #{type}
    .city.hide #{vendor.city._id}
    .address.hide #{vendor.contact.address}
    .loading
        .trial#trial(data-vendor-id="#{vendor._id}",data-vendor-slug="#{vendor.slug}",data-vendor-name="#{vendor.title}")
            .mui-container.mui--z1
                .mui-row
                    .mui-col-md-12.cover.mui--z1(style="background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://b.fitn.in/f/c/#{vendor.coverimage});background-repeat:no-repeat;background-size:cover;")
                        .top
                            a(href="/#{vendor.slug}")
                                .mui--text-display2 #{vendor.title}
                            br
                            .mui--text-subhead How it works ?
                            p Select your preferred day and time for the session at #{vendor.title}. You will get a confirmation email and SMS for the session booked along with a reminder and notification.  #{vendor.title} will be expecting you as per your selection. Your contact details are safe and will not be shared with #{vendor.title}.
                ul.mui-tabs__bar
                    li.pickslot.mui--is-active
                        a(data-mui-toggle="tab",data-mui-controls="pane-default-1")
                            span.title Select a Slot &nbsp;&nbsp;&nbsp;&nbsp;
                            span.fa.fa-arrow-right
                    li.sharedetails
                        a(data-mui-toggle="tab",data-mui-controls="pane-default-2") Share your Details
                br
                .mui-tabs__pane.mui--is-active(id="pane-default-1")
                    .mui-row.panebar
                        .mui-col-md-10
                            .pickdate
                                .calendar
                        .mui-col-md-2.picker
                            .mui-dropdown
                                button#timingdrop.mui-btn.mui-btn--flat(data-mui-toggle="dropdown") 
                                    span.fa.fa-clock-o
                                    span.lbl  All Timings &nbsp;
                                    span.mui-caret
                                ul.mui-dropdown__menu.timingdrop
                                    li
                                        a(href="#",data-time="all-timing") All Timings 
                                    li
                                        a(href="#",data-time="morning") Morning
                                    li
                                        a(href="#",data-time="afternoon") Afternoon
                                    li
                                        a(href="#",data-time="evening") Evening
                                    li
                                        a(href="#",data-time="night") Night
                    .services
                    .serviceswithnoslots
                    .mui-row#loadingslots
                        .mui-col-md-12.mui--text-center
                            img(src="/img/loader.gif", width="120px")
                .mui-tabs__pane(id="pane-default-2")
                    form#trialform.forms
                        .mui-row
                            .mui-col-md-4.mui-col-xs-12
                                .summary
                                    h2.servicename
                                    h3.vendorname
                                    .mui-row
                                        .mui-col-xs-6
                                            span.picktime 
                                                span.fa.fa-clock-o
                                                span.time 
                                        .mui-col-xs-6
                                            span.pickdate
                                                span.fa.fa-calendar-o
                                                span.date 
                                    .mui-row
                                        small.note
                                            sup *
                                            span Please note that the selected session is chargable 
                                                span.priceofslot
                                    .mui-row.pickaddress 
                                        span.fa.fa-building-o
                                        span.label  Venue
                                        br
                                        span.address
                            .mui-col-md-5.mui-col-xs-12.mui--z2.formarea
                                .mui-textfield
                                    input#fullname(type="text",data-validetta="required,minLength[4]",autocomplete="off")
                                    label Name
                                .mui-row
                                    .mui-col-xs-2
                                        p(style="margin-top: 12px;margin-bottom: 25px;") Gender
                                    #gender
                                        .mui-col-xs-3
                                            .mui-radio
                                                label
                                                    input(type="radio",name="gender",data-validetta="required", value="male")
                                                    | Male
                                        .mui-col-xs-3
                                            .mui-radio
                                                label
                                                    input(type="radio",name="gender",data-validetta="required", value="female")
                                                    | Female
                                .mui-textfield
                                    input#email(type="email",data-validetta="required,email",autocomplete="off")
                                    label Email
                                .mui-row
                                    .mui-col-md-6
                                        .mui-textfield
                                            input#mobile(type="text",data-validetta="number,required,minLength[10],maxLength[12]",autocomplete="off")
                                            label Mobile
                                    //- .mui-col-md-2
                                    //- .mui-col-md-6
                                        .mui-textfield
                                            input(type="text")
                                            label Location
                                //- .mui-row
                                    .mui-col-md-6.mui-col-xs-12
                                        p(style="padding:15px 0;") Address Type
                                    .mui-col-md-2.mui-col-xs-4
                                        .mui-radio
                                            label
                                                input(type="radio",name="address")
                                                | Home
                                    .mui-col-md-2.mui-col-xs-4
                                        .mui-radio
                                            label
                                                input(type="radio",name="address")
                                                | Office
                                .mui-row(style="padding-bottom:20px;")
                                    .mui-col-md-12.mui-col-xs-12
                                        p Do you need a reminder for this trial ?
                                        #reminder
                                            .mui-col-md-2.mui-col-xs-4
                                                .mui-radio
                                                    label
                                                        input(type="radio",name="reminder",data-validetta="required", value="yes")
                                                        | Yes
                                            .mui-col-md-2.mui-col-xs-4
                                                .mui-radio
                                                    label
                                                        input(type="radio",name="reminder",data-validetta="required", value="no")
                                                        | No
                                .mui-row
                                    .mui-col-md-12
                                        .mui-textfield
                                            textarea#notes(rows="4",placeholder="Eg: History of back pain, weak legs etc..")
                                            label Notes for the Gym / Trainer
                                .mui-row
                                    .mui-col-md-12.text-center
                                        button#generateotp.mui-btn.mui-btn--primary(type="submit") Proceed
                                        button#paidsession.mui-btn.mui-btn--primary(type="submit") Proceed
                            //- .mui-col-md-3.mui--hidden-xs
                                h3 User Reviews of #{vendor.title}
                                #reviews
                    //- .otp
                    //-     .mui-row
                    //-         .mui-col-md-4.text-center
                    //-             .mui-textfield
                    //-                 input(type="text",required)
                    //-                 label Enter the Verification Code
                    //-         .mui-col-md-4
                    //-             button#confirmpay.mui-btn.mui-btn--primary Confirm & Pay
                    //-             button#confirm.mui-btn.mui-btn--primary Confirm
                    //-             button#trialcancel.mui-btn.mui-btn--danger Cancel
    form#buyform.hidden(name="buyonline",action="/payment",method="post",autocomplete="off")
        input#firstname(type="hidden",name="firstname")
        input#lastname(type="hidden",name="lastname",value="")
        input#email(type="hidden",name="email")
        input#phone(type="hidden",name="phone")
        input#transactionid(type="hidden",name="txnid")
        input#orderid(type="hidden",name="orderid")
        input#product(type="hidden",name="productinfo")
        input#amount(type="hidden",name="amount")
        input.confirmpage(type="hidden",name="successurl")
        input.confirmpage(type="hidden",name="cancelurl")
        input#servicename(type="hidden",name="service_name")
        input#prefdate(type="hidden",name="schedule_date")
        input#vendorid(type="hidden",name="finderid", value="#{vendor._id}")
        button(type="submit", hide).btn.btn-fill.btn-social.btn-warning.hide                
block append js
    script(src="/js/trial.js")