extends keywordsearch-layout
block append meta
	title #{title} | Fitternity
	meta(name="description" content="#{description}")
	meta(name="robots" content="index,follow")
	//- link(rel="canonical", href="https://www.fitternity.com")
	//- Facebook
	meta(property="og:title" content="#{title}")
	meta(property="og:site_name" content="Fitternity")
	//- meta(property="og:url" content="https://www.fitternity.com/#{vendor.slug}")
	meta(property="og:description" content="#{description}")
	//- meta(property="og:image" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
	//- Twitter
	meta(property="twitter:title" content="#{title}")
	meta(property="twitter:description" content="#{description}")
	meta(property="twitter:site" content="@FitternityIndia")
block content
	.searchresults
		.mui-container
			.mui-row
				include left-sidebar
				.mui-col-md-7
					include keysearch-pagination-filters
					#query.mui--hide(data-query='#{query}')
					#parameters.mui--hide(data-params='#{aggs}')
					#metasearch.mui--hide(data-meta="#{metasearch}")
					#mapresults
					br
					#results
						each result in results
							- var vendor = result.object
							- var lat = vendor.geolocation.lat
							- var lon = vendor.geolocation.long
							.result.mui--z1.mui-panel
								.mui-row
									.mui-col-md-4.cover(style="background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://b.fitn.in/f/c/#{vendor.coverimage});background-repeat:no-repeat;background-size:cover;min-height:151px;")
										if vendor.photos.length > 0
											.bottom
												button.viewgallery.mui-btn.mui-btn--flat.mui-btn--primary 
													span View Gallery 
													span.fa.fa-external-link
									.mui-col-md-8.content
										.geofitdata.mui--hide(data-lat="#{lat}",data-lon="#{lon}",data-vendor="#{vendor.title}",data-location="#{vendor.location}")
										if vendor.photos.length > 0
											.gallery
												each photo in vendor.photos
													a(href="https://b.fitn.in/f/g/full/#{photo}",title="#{vendor.title}", rel='nofollow') #
										.mui-row
											.mui-col-md-9.mui-col-xs-9
												a(href="/#{vendor.slug}")
													.mui--text-headline.title.capitalize #{vendor.title}
												.mui--text-subhead.location.capitalize
													if vendor.locationtags.length > 2		
														span.fa.fa-map-marker
														span  Available in Multiple Locations
													else
														for loc in vendor.locationtags
															span.fa.fa-map-marker
															span  #{loc} 
												if vendor.category != 'personal trainers' && vendor.category != 'healthy tiffins' && vendor.category != 'healthy snacks and beverages'
													- var StrippedString = vendor.contact.address.replace(/(<([^>]+)>)/ig," ").replace(/&nbsp;/gi,' ');
													.mui--text-body1.address #{StrippedString}
													
											.mui-col-md-3.mui-col-xs-3.mui--text-center
												if vendor.average_rating > 0
													- var rating_nomenclature = ['not-rated', 'foul', 'forgettable', 'fair', 'faultless', 'fabulous'];
													- var rateclass = rating_nomenclature[Math.ceil(vendor.average_rating)];
													.big-rating(class="#{rateclass}") #{Math.ceil(vendor.average_rating).toFixed(1)}
												if vendor.average_rating > 0
													span.count #{vendor.total_rating_count} Reviews
										.mui-row
											.mui-col-md-12.categorytags
												each tag in vendor.categorytags
													.tag
														span.fa.fa-check
														span  #{tag}
										.mui-row.actions
											.mui-col-md-12.mui--text-right
												if vendor.commercial_type != 0 && vendor.category != 'healthy tiffins' && vendor.category != 'healthy snacks and beverages' && vendor.category != 'swimming' && vendor.category != 'sports' && vendor.category != 'sport nutrition supliment stores'	
													if (vendor.facilities.indexOf('free trial') > -1)
														a(onclick="openTrial('freeTrial','#{vendor.slug}', '#{vendor.servicelist}', '#{vendor.category}')").mui-btn.mui-btn--small.mui-btn--danger BOOK a Free TRIAL
													else
														a(onclick="openTrial('noFreeTrial','#{vendor.slug}')").mui-btn.mui-btn--small.mui-btn--danger BOOK a Free Trial	
					if results.length > 0
						.pagination.mui--text-center
							#paginationstatus								
				include right-sidebar
block append head
	script(src="//maps.google.com/maps/api/js?key=AIzaSyBtklCjbWKPD9x_dr-vhcpfanY9gtO7axk")
	script(src="/components/Leaflet/dist/leaflet.js")
	script(src="/js/leaflet-google.js")
block append js	
	script(src="/js/keywordsearch.js")
