extends ../layout
block meta
	title #{title} | Fitternity
	meta(name="description" content="#{description}")
	meta(name="robots" content="index,follow")
	//- link(rel="canonical", href="https://www.fitternity.com")
	//- Facebook
	meta(property="og:title" content="#{title}")
	meta(property="og:site_name" content="Fitternity")
	//- meta(property="og:url" content="https://www.fitternity.com/#{vendor.slug}")
	meta(property="og:description" content="#{description}")
	meta(property="og:image" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
	//- Twitter
	meta(property="twitter:title" content="#{title}")
	meta(property="twitter:description" content="#{description}")
	meta(property="twitter:site" content="@FitternityIndia")
	//- meta(property="twitter:image:src" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
block content
	div.main-wrapper
		.filterWrapper
			.loading
				.mui-container.mui--hidden-xs.mui--hidden-sm(style="margin-bottom:2rem")
					.mui-row#paginationSection
						.mui-col-md-12.mui-col-lg-12.mui--text-right
							div.searchPager.pagination.mui--text-right
								a.mui-btn.mui-btn--small.mui--btn-flat.mui-btn--fab.no-mar.first(href='#', data-action='first')
									i.fa.fa-chevron-left
									i.fa.fa-chevron-left
								a.mui-btn.mui-btn--small.mui--btn-flat.mui-btn--fab.previous(href='#', data-action='previous')
									i.fa.fa-chevron-left
								.mui-textfield.no-mar.no-pad.disInblock
									input.mui--text-center.no-bor(type='text',readonly='readonly',placeholder='',disabled="disabled")
								a.mui-btn.mui-btn--small.mui--btn-flat.next.mui-btn--fab(href='#', data-action='next')
									i.fa.fa-chevron-right
								a.mui-btn.mui-btn--small.mui--btn-flat.last.mui-btn--fab(href='#', data-action='last')
									i.fa.fa-chevron-right
									i.fa.fa-chevron-right
					.mui-row.no-mar#upperSection(style="background:#fff")
						.mui-col-md-2.mui-col-lg-2.mui--text-left
							label.mui--text-subhead
								| NARROW BY
						.mui-col-md-1.mui-col-lg-1.mui--text-right(style="border-right:1px solid #ccc")
							i#showHideFilterMenubtn.fa.fa-arrow-left.fa-lg(title="Hide Filters",style="cursor:pointer;margin-right:10px;color:#ccc")
						.mui-col-md-5.mui-col-lg-5.mui--text-left
							label
								span.mui--text-subhead
									span.total_records
									| &nbsp; Results Found
						.mui-col-md-2.mui-col-lg-2.mui--text-right.viewMode
							button.mui-btn.mui-btn--small.activeView.change-view.change-view--active(type='button', title='List view', data-view='list',data-active='active',onclick="fitternity.fitSearch.changeResultsView(1)")
								span(title='List View')
									i.fa.fa-list
							button.mui-btn.mui-btn--small.change-view.change-view--active(type='button', title='Grid view', data-view='grid',data-active="inactive",onclick="fitternity.fitSearch.changeResultsView(2)")
								span(title='Grid View')
									i.fa.fa-th
							button.mui-btn.mui-btn--small.change-view.change-view--active(type='button', title='Map view', data-view='map',data-active='inactive',onclick="fitternity.fitSearch.changeResultsView(3)")
								span(title='Map View')
									i.fa.fa-map-marker
						.mui-col-md-2.mui-col-lg-2.mui--text-right
							.mui-select.no-pad
								select
									option Popularity (High)
									option Popularity (Low)
									option Rating (High)
									option Rating (Low)
				.mui-container
					.mui-row
						.mui-col-md-3.mui.col-lg-3.mui--hidden-xs.mui--hidden-sm
							#filtersSection
								div.filterbox.searchTerms.mui--z1.disNone
									h4.filterHeader.mui--text-subhead Searched Terms
									ul.searchChips.mui-list--inline
									a(onclick="fitternity.fitSearch.resetAllFilters()").mui-btn.mui-btn--small Clear All
								div.filterbox.categories.mui--z1
									h4.filterHeader.mui--text-subhead CATEGORIES
									ul.filterList.mui-list--unstyled
								div.filterbox.locations.mui--z1
									h4.filterHeader.mui--text-subhead LOCATIONS
									ul.filterList.mui-list--unstyled
								div.filterbox.filters.mui--z1
									h4.filterHeader.mui--text-subhead FILTERS
									ul.filterList.mui-list--unstyled
								div.filterbox.amenities.mui--z1
									h4.filterHeader.mui--text-subhead AMENITIES
									ul.filterList.mui-list--unstyled
								div.filterbox.budget.mui--z1
									h4.filterHeader.mui--text-subhead BUDGET
									ul.filterList.mui-list--unstyled
								div.filterbox.mui--z1
									h4.filterHeader.mui--text-subhead RATING
									div#filterRating
						.mui-col-xs-12.mui.col-sm-12.mui--hidden-md.mui--hidden-lg.mui--z2#filterBarMobile
							.mui--appbar
								.mui-col-sm-5.mui-col-xs-5.mui--appbar-height.mui--appbar-line-height.no-pad
									label.sortby.mui--align-middle.mui--text-left.no-mar 
										span 
											span.total_records
											| &nbsp; Results Found
								.mui-col-sm-7.mui-col-xs-7.no-pad.mui--appbar-height.mui--appbar-line-height.mui--text-right
									button.mui-btn.mui-btn--small.mui-btn--raised.no-mar#open-filter-menu
										i.fa.fa-lg.fa-filter
										span.mui--hidden-xs &nbsp; Filter
									button.mui-btn.mui-btn--small.mui-btn--raised.no-mar#open-sort-menu
										i.fa.fa-lg.fa-long-arrow-up
										span.mui--hidden-xs &nbsp; Sort
									button.mui-btn.mui-btn--small.mui-btn--raised.no-mar
										span.icon.icon-reset
										sapn.mui--hidden-xs &nbsp; Reset
						.mui-col-md-7.mui.col-lg-7.mui-col-sm-12.mui-col-xs-12
							#resultsSection
								- var rating_nomenclature = ['not-rated', 'foul', 'forgettable', 'fair', 'faultless', 'fabulous']
									each res in searchresults.results.resultlist	
										div.searchcard.mui-panel.mui--z2
											div.card-content
												a.noline(onclick="",href="")
													- var rateclass = rating_nomenclature[Math.ceil(res.object.average_rating)]
														h2.no-mar.no-pad.capital.bold
															span 
															| #{res.object.title}
															span.rating(class="#{rateclass}" style="font-size:.7em;min-width:35px;line-height:20px") #{res.object.average_rating}
												h5.uppercase.mui--text-subhead
													div
														meta(itemprop="addressRegion" content="#{res.object.city}")
													div(itemprop="geo",itemscope="itemscope",itemtype="http://schema.org/GeoCoordinates",itemref="geo")
														meta#geo(itemprop="latitude",content="#{res.object.geolocation.lat}" )
														meta#geo(itemprop="longitude",content="#{res.object.geolocation.lon}" )
														span.icon-geo.iconx(itemprop="addressLocality") 
															| #{res.object.location}
												span !{res.object.contact.address}
											each cat in res.object.categorytags
												span.chips.capital #{cat}
											div.mui--text-right(style="border-top:1px solid #e2e2e")
												if (res.object.facilities.indexOf('free trial') == -1)
													button.popup-modal.mui-btn.mui-btn--small.mui-btn--accent(href="#bookmodal" onclick="")
														| Book A Free Trial
												else if (res.object.facilities.indexOf('free trial') >= 0)
													button.trialmobile.mui-btn.mui-btn--small.mui-btn--accent(href="#animatedModal" onclick="")
														| Book A Free Trial
							.mui-col-md-12.mui-col-lg-12.mui--align-middle
								div.searchPager2.pagination.mui--text-center(style="margin:1rem 0")
									a.mui-btn.mui-btn--small.no-mar.first(href='#', data-action='first')
										i.fa.fa-chevron-left
										i.fa.fa-chevron-left
									a.mui-btn.mui-btn--small.no-mar.previous(href='#', data-action='previous')
										i.fa.fa-chevron-left
									.mui-textfield.no-mar.no-pad.disInblock
										input.mui--text-center.no-bor(type='text', readonly='readonly',placeholder='Input 1')
									a.mui-btn.mui-btn--small.no-mar.next(href='#', data-action='next')
										i.fa.fa-chevron-right
									a.mui-btn.mui-btn--small.no-mar.last(href='#', data-action='last')
										i.fa.fa-chevron-right
										i.fa.fa-chevron-right
						.mui-col-md-2.mui.col-lg-2.mui--hidden-sm.mui--hidden-xs
							#recentSection
								h2 Top Fitness Searches
								ul.toplinks.mui-list--unstyled
								div.mui-panel.mui--text-center
									h4.mui--text-subhead GO EXPLORING!
									p.mui--text-body1 Download the Fitternity app and discover great fitness options around on-the-go!
									span(style="display:block;min-height:130px;width:100%;background:url(/img/fitappImg.png)")
									br
									p.mui--text-body2 AVAILABLE ON
									p
										a.mui-btn.mui-btn--flat.no-pad(target="_blank",href="https://play.google.com/store/apps/details?id=com.discover.fitternity")
											i.fa.fa-apple.fa-2x
										a.mui-btn.mui-btn--flat.no-pad(target="_blank",href="https://play.google.com/store/apps/details?id=com.discover.fitternity")
											i.fa.fa-android.fa-2x
								h2 Recently viewed
								ul.recentViews.mui-list--unstyled
								h2 Recent Searches
								ul.recentSearches.mui-list--unstyled
		- var results = JSON.stringify({searchresults});
		input#searchresults(type='hidden',value='#{results}')
		input#searchterms(type='hidden',value='#{searchterms}')
		input#currentCity(type='hidden',value='#{currentcity}')
	#mapCarouselcallback.wide-popup.mfp-hide
		.mui-row
			.mui-col-md-12
				.text-center
					h2.mui--text-display1 Anything in Fitness. We are here to help!
			div#mapCarousel.mui-col-md-12
	include mobileFilters				
block append js
	script(src="/js/keywordsearch.js")