extends articles-layout

block append meta
	title Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts | Fitternity
	meta(name="description" content="Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts")
	meta(name="robots" content="index,follow")
	link(rel="canonical", href="https://www.fitternity.com/articles")
	//- Facebook
	meta(property="og:title" content="Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts")
	meta(property="og:site_name" content="Fitternity")
	meta(property="og:url" content="https://www.fitternity.com/articles")
	meta(property="og:description" content="Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts")
	meta(property="og:image" content="")
	//- Twitter
	meta(property="twitter:title" content="Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts")
	meta(property="twitter:description" content="Health, Fitness, Workout, Diet &amp; Lifestyle articles validated by experts")
	meta(property="twitter:site" content="@FitternityIndia")
	meta(property="twitter:image:src" content="")
block content
	.articles
		.mui-container
			h1 
				span.fa.fa-align-left
				span  Articles
			.grid
				each blog in blogs
					if (($index%2)===0)
						.grid-item
							.mui-panel.mui--z2
								.image(style="background:linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.45)), url('https://b.fitn.in/articles/covers/#{blog.coverimage}');background-position:center center;background-size:cover;background-repeat:no-repeat;")
								.content
									a(href="/article/#{blog.slug}")
										h5.mui--text-headline #{blog.title}
									|  !{blog.excerpt}
									p by 
										a(href="/author/#{blog.author.username}") #{blog.author.name}
					else
						.grid-item
							.mui-panel2.mui--z2
								.image(style="background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.85)), url('https://b.fitn.in/articles/covers/#{blog.coverimage}');height:320px;background-position:center center;background-size:cover;background-repeat:no-repeat;")
									.inner-content
										a(href="/article/#{blog.slug}")
											h5.mui--text-headline #{blog.title}
										|  !{blog.excerpt}
										p by 
											a(href="/author/#{blog.author.username}") #{blog.author.name}
block append js
	script(src="/components/masonry/dist/masonry.pkgd.min.js")
	script.
		$(function () {
			$('.grid').masonry({
				itemSelector: '.grid-item',
				columnWidth: 285
			});
		});