//- form(name="payment",action="https://test.payu.in/_payment",method="post" id="payment")
form(name="payment",action="https://secure.payu.in/_payment",method="post" id="payment",autocomplete="off")
	input(type="hidden",name="firstname",value="#{card.firstname}")
	input(type="hidden",name="lastname",value="#{card.lastname}")
	input(type="hidden",name="surl",value="#{card.successurl}")
	input(type="hidden",name="phone",value="#{card.phone}")
	input(type="hidden",name="key",value="#{card.key}")
	input(type="hidden",name="hash",value="#{secret}")
	input(type="hidden",name="curl",value="#{card.cancelurl}")
	input(type="hidden",name="furl",value="#{card.failurl}")
	input(type="hidden",name="orderid",value="#{card.orderid}")
	input(type="hidden",name="txnid",value="#{card.txnid}")
	input(type="hidden",name="productinfo",value="#{card.productinfo}")
	input(type="hidden",name="amount",value="#{card.amount}")
	input(type="hidden",name="email",value="#{card.email}")
	input(type="hidden",name="udf1",value="#{card.udf1}")
	input(type="hidden",name="udf2",value="#{card.udf2}")
	input(type="hidden",name="udf3",value="#{card.udf3}")
	input(type="hidden",name="udf4",value="#{card.udf4}")
	input(type="hidden",name="udf5",value="#{card.udf5}")
	button(type="submit" style="display:none;").btn.btn-warning.btn-fill.btn-block
		.fa.fa-shopping-cart
		|  GET UNLIMITED ACCESS NOW
	script(src='/components/jquery/dist/jquery.js')
	script.
		$(function(){
			$('#payment').submit();
			})