.featuredblogs
	.mui-container
		.mui-row
			.mui-col-xs-12.mui-col-sm-12.mui-col-md-12.mui-col-lg-12.mui--text-center
				.fancytitle
					.mui--text-display1 
						.title.uppercase INTERESTING READS - ARTICLES AND EXPERTS OPINIONS
					P Great articles and expert opinions on fitness forms, trends, nutrition lifestyle and holistic wellness	
	.mui-container.articles
		.mui-row
			each blog in blogs
				.mui-col-xs-12.mui-col-sm-6.mui-col-md-3.mui-col-lg-3.featured-box
					.mui-panel2.mui--z2
						.image(style="background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.85)), url('https://b.fitn.in/articles/thumbs/#{blog.coverimage}');height:320px;background-position:center center;background-size:cover;background-repeat:no-repeat;")
							.inner-content
								a(href="/article/#{blog.slug}")
									h5.mui--text-headline #{blog.title}
								|  !{blog.excerpt}
								p by 
									a(href="/author/#{blog.author.username}") #{blog.author.name}
		.mui-row
			.mui-col-xs-12.text-center
				a.mui-btn.mui-btn--primary(href="/articles") VIEW ARTICLES