extends static-layout
block content
	.static-wrapper.sec-padtb#experts-page
		.expertpage.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12.text-center
						.sec-padtb
							h1.mui--text-center.mui--text-display2 Fitternity's Expert Panel
							span.small-divider
							p.mui--text-headline.mui--text-center The Articles at Fitternity are validated by panel of Top Experts in Health &amp; Fitness Space.
		.expertpage
			.mui-container
				.mui-row
					ul#og-grid.og-grid
						each expert in experts
							li
								a.noline(href="/expert/#{expert.username}", data-largesrc='https://b.fitn.in/e/#{expert._id}.jpg', data-title='#{expert.name}', data-description='#{expert.aboutme}')
									img.mui--z3.image(data-original='https://b.fitn.in/e/#{expert._id}.jpg',src="https://b.fitn.in/e/#{expert._id}.jpg", alt="#{expert.name}")
									p.author-name.mui--text-subhead #{expert.name}
								.og-expander
									.og-expander-inner
										span.og-close
										.og-fullimg
											.og-loading
											img.image(data-original='https://b.fitn.in/e/#{expert._id}.jpg',src="https://b.fitn.in/e/#{expert._id}.jpg", alt="#{expert.name}")
										.og-details
											

