if vendor.photos.length > 0
	.gallery
		h4
			span.fa.fa-picture-o
			if type != "healthyfood"	
				span  Gallery
			else
				span  Menu
		br
		.photostrip
			each photo,index in vendor.photos
				if index < 3
					a(href="https://b.fitn.in/f/g/full/#{photo.url}" title="#{photo.caption}")
						.gallery-thumb(style="background-image:url(https://b.fitn.in/f/g/thumbs/#{photo.url})")
				if index == 3
					a(href="https://b.fitn.in/f/g/full/#{photo.url}" title="#{photo.caption}")
						.gallery-thumb.extra(style="background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://b.fitn.in/f/g/thumbs/#{photo.url});background-repeat:no-repeat;background-size:cover;")
							span #{vendor.photos.length - 3}+
				if index > 3
					a.mui--hide(href="https://b.fitn.in/f/g/full/#{photo.url}" title="#{photo.caption}")
						.gallery-thumb(style="background-image:url(https://b.fitn.in/f/g/thumbs/#{photo.url})")