.mui-row.intro
	if type == "individual"
		.mui-col-md-3.text-center
			.pic(style="background-image:url(https://b.fitn.in/f/l/#{vendor.logo})")
	.mui-col-md-9
		if vendor !== undefined
			span 
				a(href="/") Home 
				span / 
				a.capitalized(href="/#{vendor.city.slug}/#{vendor.category.slug}/all/all/all/all") #{vendor.category.name}
		h1.capitalized #{vendor.title}
		.mainrating(data-rating="#{vendor.average_rating}")
		.services !{vendor.info.service}
		.mui-row.info
			.mui-col-md-4.mui-col-xs-12.info-step
				h4 
					span.fa.fa-inr
					span  Budget 
						span.budinfo ( Average Monthly Fee )
				p.budget
					span
						case vendor.price_range 
							when "one" 
								|  Less than 
								span.fa.fa-ruppee
								| 1000
							when "two"
								span.fa.fa-ruppee
								| 1000 - 2500
							when "three"
								span.fa.fa-ruppee
								| 2500 - 5000
							when "four"
								span.fa.fa-ruppee
								| 5000 - 7500
							when "five"
								span.fa.fa-ruppee
								| 7500 - 15000
							when "six"
								span.fa.fa-ruppee
								| 15000 & Above
							default
								p
			if vendor.travel_area != ""						
				.mui-col-md-4.mui-col-xs-12.info-step
					//- h4
					//- 	span.fa.fa-map-marker
					//- 	span  Address
					//- .address !{vendor.contact.address}
					h4
						span.fa.fa-map-marker
						span  Travel Area
					.address !{vendor.travel_area}
			.mui-col-md-4.mui-col-xs-12.info-step
				h4
					span.fa.fa-phone
					span  Phone
				if vendor.contact.phone != ""
					if vendor.ozonetelno != null
						p.phone
							span(itemref="postaladdress", itemprop="telephone") #{vendor.ozonetelno.phone_number}
							if vendor.ozonetelno.extension != undefined
								span &nbsp (Dial Extension: #{vendor.ozonetelno.extension})
									.seperator
					else
						p.phone
							span(itemref="postaladdress", itemprop="telephone") #{vendor.contact.phone}
br