.seperator
	//- Accordion
	- var servicelist = JSON.stringify(vendor.ratecardservice).replace(/'/g,"&#039");
	v-accordion.vAccordion--default(onexpand="resetserviceloadmore();expandCallback(index,'#{servicelist}');", oncollapse="resetserviceloadmore()")
		each service,index in vendor.ratecardservice
			if service.serviceratecard.length > 0
				if index == 0
					v-pane(expanded,itemscope,itemtype="http://schema.org/Product", itemref="product")
						v-pane-header
							span(itemprop="name", content="#{vendor.title} #{service.name}", id="product").service-name 
								span.index #{index+1} 
								span.service #{service.name}
						v-pane-content
							if vendor.category_id == 45 || vendor.category_id == 42
								div(layout="row", layout-align="end center")
									div(flex="80" flex-sm="70" flex-md="65")
										p !{service.short_description}
									div(flex="5",flex-sm="5",flex-md="5")
									div(flex="15" flex-sm="25" flex-md="30")
										if service.photos != null
											.vendor-gallery
												each photo,index in service.photos
													if index <= 4
														a(ng-click="pushwiz('healthyfoodservicegallery','#{vendor.slug}')",ng-href="https://b.fitn.in/s/g/full/#{photo.url}", title="#{photo.caption}", rel='nofollow')
															.gallery-thumb(style="background-image:url(https://b.fitn.in/s/g/thumbs/#{photo.url})", alt="#{photo.caption}", height="40")
															//- img(src="http://b.fitn.in/s/g/thumbs/#{photo.url}", alt="#{photo.caption}", height="40").gallery-thumb
													if index > 4
														a(ng-click="pushwiz('healthyfoodservicegallery','#{vendor.slug}')",ng-href="https://b.fitn.in/s/g/full/#{photo.url}", title="#{photo.caption}", rel='nofollow',hide)
															.gallery-thumb(style="background-image:url(https://b.fitn.in/s/g/thumbs/#{photo.url})", alt="#{photo.caption}", height="40")
							- var x = 0;
							each ratecard,index in service.serviceratecard
								- x = x + 1;
								if ratecard.price != '0'
								.rate-item(layout="row",layout-align="center center",layout-wrap,itemscope, itemprop="offers",itemtype="http://schema.org/Offer",id="product", itemref="offer",class="#{ratecard.type}",ng-show="#{x} < serviceshow")
									div(flex="40",flex-sm="60",flex-md="40")
										if ratecard.remarks != "" && ratecard.remarks != undefined
											if vendor.category_id != 45
												if ratecard.type == 'trial'
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
													| Trial
												else
													if ratecard.validity > 0
														span.duration #{ratecard.validity} #{ratecard.validity_type} 
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
												meta(itemprop="priceCurrency",content="INR",id="offer")
												br
												small
													i (#{ratecard.remarks})
											else
												span.duration(id="offer", itemprop="name") !{ratecard.remarks}
										else
											if ratecard.type == 'trial'
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
													| Trial Session
												else
													if ratecard.validity > 0
														span.duration #{ratecard.validity} #{ratecard.validity_type} 
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
										.mob-price(show-sm,hide-gt-sm)
											if ratecard.special_price != ""
												.crossthis
													span.icon.icon-rupee
													| #{ratecard.price}
												span.icon.icon-right
												span.icon.icon-rupee(itemprop="price",id="offer")
												| #{ratecard.special_price}
												meta(itemprop = "price", content ="#{ratecard.special_price}")
											else
												if ratecard.price > 0
													span.icon.icon-rupee(itemprop="price",id="offer")
													| #{ratecard.price}
												else
													| Free via Fitternity
									div(flex="5")
									div.pricing(flex,layout="row",hide-sm,show-gt-sm)
										if ratecard.special_price != ""
											.crossthis
												span.icon.icon-rupee
												| #{ratecard.price}
											span.icon.icon-right
											.icon.icon-rupee(itemprop="price",id="offer")
											| #{ratecard.special_price}
											meta(itemprop = "price", content ="#{ratecard.special_price}")
										else
											if ratecard.price > 0
												.icon.icon-rupee(itemprop="price",id="offer")
												| #{ratecard.price}
											else
												| Free via Fitternity
									div(flex="15",flex-sm="25",flex-md="30")
										- var ser = JSON.stringify(service).replace(/'/g,"&#039");
										- var rate = JSON.stringify(ratecard).replace(/'/g,"&#039");
										if ratecard.price > 0
											//- button.btn.btn-primary.btn-block.button-md(onclick="buymembershipfromvendor(#{ser},#{rate})") Buy
											if ratecard.type == 'workout session'
												md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('ws',1,'#{ser}','d','#{ratecard.price}','#{ratecard.special_price}');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
												md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('ws',1,'#{ser}','m','#{ratecard.price}','#{ratecard.special_price}');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.mprestep.trialmobile#trial(href="#animatedModal",show-sm,show-md,hide-gt-md)
											else if ratecard.type == 'trial'
												md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('trial',1,'#{ser}','d');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
												md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('trial',1,'#{ser}','m');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.mprestep.trialmobile#trial(href="#animatedModal",show-sm,show-md,hide-gt-md)
											else
												md-button.popup-modal.md-primary.md-raised(ng-href="#buymembershipmodal", ng-click="fakebuy('x','#{ser}','#{rate}'); pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');",hide-sm,hide-md,show-gt-md) Buy
												md-button.buymobile.md-primary.md-raised(href="#animatedModalbuy", ng-click="fakebuy('x','#{ser}','#{rate}'); pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');",show-sm,show-md,hide-gt-md) Buy
										else
											md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('trial',1,'#{ser}','d');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
											.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
											md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('trial',1,'#{ser}','m');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
											.mprestep.trialmobile#trial(href="#animatedModal",show-sm,show-md,hide-gt-md)
							div(layout="row",layout-align="center center")
								- var ser = JSON.stringify(service).replace(/'/g,"&#039");													
								md-button.md-primary.md-raised(ng-click="incservices();pushkyu('loadmoreratecards',{what:'click',dataobject:'ratecards',vendor: '#{vendor.slug}', service : '#{ser.name}'});",ng-show="serviceshow <= #{x}") Load More
				else
					v-pane(itemscope,itemtype="http://schema.org/Product")
						v-pane-header
							span(itemprop="name", content="#{vendor.title} #{service.name}").service-name
								span.index #{index+1} 
								span.service #{service.name}
						v-pane-content
							if vendor.category_id == 45 || vendor.category_id == 42
								div(layout="row", layout-align="end center")
									div(flex="80" flex-sm="70" flex-md="65")
										p !{service.short_description}
									div(flex="5",flex-sm="5",flex-md="5")
									div(flex="15" flex-sm="25" flex-md="30")
										if service.photos != null
											.vendor-gallery
												each photo,index in service.photos
													if index <= 4
														a(ng-click="pushwiz('healthyfoodservicegallery','#{vendor.slug}')",ng-href="https://b.fitn.in/s/g/full/#{photo.url}", title="#{photo.caption}", rel='nofollow')
															.gallery-thumb(style="background-image:url(https://b.fitn.in/s/g/thumbs/#{photo.url})", alt="#{photo.caption}", height="40")
															//- img(src="http://b.fitn.in/s/g/thumbs/#{photo.url}", alt="#{photo.caption}", height="40").gallery-thumb
													if index > 4
														a(ng-click="pushwiz('healthyfoodservicegallery','#{vendor.slug}')",ng-href="https://b.fitn.in/s/g/full/#{photo.url}", title="#{photo.caption}", rel='nofollow',hide)
															.gallery-thumb(style="background-image:url(https://b.fitn.in/s/g/thumbs/#{photo.url})", alt="#{photo.caption}", height="40")
							- var x = 0;
							each ratecard,index in service.serviceratecard
								- x = x + 1;
								if ratecard.price != '0'
								.rate-item(layout="row",layout-align="center center",layout-wrap,itemscope, itemprop="offers",itemtype="http://schema.org/Offer",id="product", itemref="offer",class="#{ratecard.type}",ng-show="#{x} < serviceshow")
									div(flex="40",flex-sm="60",flex-md="40")
										if ratecard.remarks != "" && ratecard.remarks != undefined
											if vendor.category_id != 45
												if ratecard.type == 'trial'
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
													| Trial 
												else
													if ratecard.validity > 0
														span.duration #{ratecard.validity} #{ratecard.validity_type} 
													if ratecard.duration > 0
														span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
												br
												small
													i (#{ratecard.remarks})
											else
												span.duration #{ratecard.remarks}
										else
											if ratecard.type == 'trial'
												if ratecard.duration > 0
													span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
												| Trial Session
											else
												if ratecard.validity > 0
													span.duration #{ratecard.validity} #{ratecard.validity_type} 
												if ratecard.duration > 0
													span.duration(id="offer", itemprop="name") #{ratecard.duration} #{ratecard.duration_type} 
										.mob-price(show-sm,hide-gt-sm)
											if ratecard.special_price != ""
												.crossthis
													span.icon.icon-rupee
													| #{ratecard.price}
												span.icon.icon-right
												span.icon.icon-rupee(itemprop="price",id="offer")
												| #{ratecard.special_price}
												meta(itemprop = "price", content ="#{ratecard.special_price}")
											else
												if ratecard.price > 0
													span.icon.icon-rupee(itemprop="price",id="offer")
													| #{ratecard.price}
												else
													| Free via Fitternity
									div(flex="5")
									div.pricing(flex,layout="row",hide-sm,show-gt-sm)
										if ratecard.special_price != ""
											.crossthis
												span.icon.icon-rupee
												| #{ratecard.price}
											span.icon.icon-right
											span.icon.icon-rupee
											| #{ratecard.special_price}
										else
											if ratecard.price > 0
												span.icon.icon-rupee(itemprop="price",id="offer")
												| #{ratecard.price}
											else
												| Free via Fitternity
									div(flex="15",flex-sm="25",flex-md="30")
										- var ser = JSON.stringify(service);
										- var rate = JSON.stringify(ratecard);
										if ratecard.price != "0"
											if ratecard.type == 'workout session'
												md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('ws',1,'#{ser}','d','#{ratecard.price}','#{ratecard.special_price}');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
												md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('ws',1,'#{ser}','m','#{ratecard.price}','#{ratecard.special_price}');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.mprestep.trialmobile(href="#animatedModal",show-sm,show-md,hide-gt-md)
											else if ratecard.type == 'trial'
												md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('trial',1,'#{ser}','d');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
												md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('trial',1,'#{ser}','m');pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
												.mprestep.trialmobile#trial(href="#animatedModal",show-sm,show-md,hide-gt-md)
											else
												md-button.popup-modal.md-primary.md-raised(ng-href="#buymembershipmodal", ng-click="fakebuy('x','#{ser}','#{rate}'); pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');",hide-sm,hide-md,show-gt-md) Buy
												md-button.buymobile.md-primary.md-raised(href="#animatedModalbuy", ng-click="fakebuy('x','#{ser}','#{rate}'); pushwiz2('vendorpagebuy','#{ratecard}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');",show-sm,show-md,hide-gt-md) Buy
										else
											md-button.md-primary.md-raised(hide-sm,hide-md,show-gt-md, ng-click="prestepchange('trial',1,'#{ser}','d');pushwiz2('vendorpagebuy','#{rate}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
											.dprestep.popup-modal(href="#bookmodal", hide-sm,hide-md,show-gt-md)
											md-button.md-primary.md-raised(show-sm,show-md,hide-gt-md,ng-click="prestepchange('trial',1,'#{ser}','m');pushwiz2('vendorpagebuy','#{rate}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','book');") BOOK
											.mprestep.trialmobile(href="#animatedModal",show-sm,show-md,hide-gt-md)
							div(layout="row",layout-align="center center")
								md-button.md-primary.md-raised(ng-click="incservices();pushkyu('loadmoreratecards',{what:'click',dataobject:'ratecards',vendor: '#{vendor.slug}', service : '#{ser.name}'});",ng-show="serviceshow <= #{x}") Load More
		else						
			if vendor.ratecards.length > 0
				if vendor.category_id != 42 && vendor.category_id != 45
					h2 Memberships
				else
					h2 Packages
				.after-head
					p
						strong Why buy through Fitternity? 
						span Get insider discounts, offers and easy payment options (Net-banking, Credit Card, EMI and wallet)
				.seperator
				.seperator
				v-accordion.vAccordion--default
					each ratecard,index in vendor.ratecards
						if index == 0
							v-pane(expanded,itemscope,itemtype="http://schema.org/Product")
								v-pane-header
									span(itemprop="name", content="#{vendor.title} #{ratecard.service_name}").service-name 
										span.index #{index+1}
										span.service #{ratecard.service_name}
								v-pane-content
									div(layout="row",layout-align="center center",layout-wrap)
										div(flex="50",flex-sm="40",flex-md="40")
											span !{ratecard.duration.replace(/-/g,' ')}
										div(flex="5")
										div.pricing(flex,layout="row")
											if ratecard.special_price != ""
												.crossthis
													span.icon.icon-rupee
													| #{ratecard.price}
												span.icon.icon-right
												span.icon.icon-rupee
												| #{ratecard.special_price}
											else
												span.icon.icon-rupee
												| #{ratecard.price}
										div(flex="15",flex-sm="30",flex-md="30")
											- var ser = JSON.stringify(ratecard);
											md-button.popup-modal.md-primary.md-raised(ng-href="#buymembershipmodal", ng-click="fakebuyold('x','#{ser}');pushwiz2('vendorpagebuy','#{ser}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');") Buy
						else
							v-pane(itemscope,itemtype="http://schema.org/Product",ng-click="console.log('v clicked')")
								v-pane-header
									span(itemprop="name", content="#{vendor.title} #{ratecard.service_name}").service-name
										span.index #{index+1}
										span.service #{ratecard.service_name}
								v-pane-content
									div(layout="row",layout-align="center center",layout-wrap)
										div(flex="50",flex-sm="40",flex-md="40")
											span !{ratecard.duration.replace(/-/g,' ')}
										div(flex="5")
										div.pricing(flex,layout="row")
											if ratecard.special_price != ""
												.crossthis
													span.icon.icon-rupee
													| #{ratecard.price}
												span.icon.icon-right
												span.icon.icon-rupee
												| #{ratecard.special_price}
											else
												span.icon.icon-rupee
												| #{ratecard.price}
										div(flex="15",flex-sm="30",flex-md="30")
											- var ser = JSON.stringify(ratecard);
											md-button.popup-modal.md-primary.md-raised(ng-href="#buymembershipmodal", ng-click="fakebuyold('x','#{ser}');pushwiz2('vendorpagebuy','#{ser}','#{vendor.slug}');cardbuykyu('#{ser}','#{rate}','buy');") Buy
		.seperator