extend layout
block append head
	title #{title}
	meta(name="description" content="#{metadesc}")
	meta(name="robots" content="index,follow")
	link(rel="canonical", href="https://www.fitternity.com")
	//- Facebook
	meta(property="og:title" content="#{title}")
	meta(property="og:site_name" content="Fitternity")
	meta(property="og:url" content="https://www.fitternity.com/")
	meta(property="og:description" content="#{metadesc}")
	//- meta(property="og:image" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
	//- Twitter
	meta(property="twitter:title" content="#{title}")
	meta(property="twitter:description" content="#{metadesc}")
	meta(property="twitter:site" content="@FitternityIndia")
	//- meta(property="twitter:image:src" content="https://b.fitn.in/f/c/#{vendor._id}.jpg")
block content
	.home
		include home/cover
		include home/intro
		include home/selections
		include home/featured
		include home/blogs
		include home/testimonials
block append js
	script(src="/js/home.js")