extends layout

block append head
	title Buy #{service.name} | Fitternity
	meta(name="description" content="Buy #{service.name}")
	meta(name="robots" content="index,follow")
	link(rel="canonical", href="https://www.fitternity.com/crossfit-focus/buy/#{service._id}")
	//- Facebook
	meta(property="og:title" content="Buy #{service.name}")
	meta(property="og:site_name" content="Fitternity")
	meta(property="og:url" content="https://www.fitternity.com/crossfit-focus/buy/#{service._id}")
	meta(property="og:description" content="Buy #{service.name}")
	meta(property="og:image" content="https://b.fitn.in/f/c/#{service.finder.coverimage}.jpg")
	//- Twitter
	meta(property="twitter:title" content="Buy #{service.name}")
	meta(property="twitter:description" content="Buy #{service.name}")
	meta(property="twitter:site" content="@FitternityIndia")
	meta(property="twitter:image:src" content="https://b.fitn.in/f/c/#{service.finder.coverimage}.jpg")
block content
	//- Total Types of Trials
	//- 1. Book Trial
	//- 2. Book a paid Trial
	//- 3. Book a manual Trial
	.loading
		#buy(data-vendor="#{service.finder.slug}",data-service="#{service._id}")
			.mui-container
				.mui-row#bookBanner(style="background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://b.fitn.in/f/c/#{service.finder.coverimage});")
					.mui-col-md-12.mui-col-lg-12.mui-col-sm-12.mui-col-xs-12
						h1.mui--text-tite.capitalized
							a(href="#")
								span#vendor-title  #{service.finder.title}
								span#vendor-id.hide  #{service.finder._id}
								span#city-id.hide  #{service.city._id}
								span#service-id.hide  #{service._id}
								span#service-name.hide  #{service.name}
						span#vendor-address.hide !{service.address}
					.mui-col-md-12.mui-col-lg-12.mui-col-sm-12.mui-col-xs-12
						ul.mui-list--inline
							li.capital #{service.name}
							li.capital#serviceduration 3 day pass
							li.capital#serviceamount
								.price.mui--text-center.mui--align-middle
									span.fa.fa-rupee 
									span.amount  299
					.mui-col-md-8.mui-col-lg-8.mui-col-sm-8.mui-col-xs-12
						h1.mui--text-subhead HOW IT WORKS ?
						p Fill in the required details, select your starting date and purchase the membership. The details of your selection will be shared #{service.finder.title} and your membership will be activated accordingly.
					//- .mui-col-md-4.mui-col-lg-4.mui-col-sm-4.mui-col-xs-12.mui--hidden-xs
						a.checkoutquick
							i.fa.fa-shopping-cart.fa-3x
							span.mui--text-display1   Quick CheckOut
				.mui-row
					.mui-col-md-12.mui-col-lg-12.mui-col-sm-12.mui-col-xs-12.white-bg
						ul.mui-tabs__bar
							li.mui--is-active
								a(data-mui-toggle="tab",data-mui-controls="pane-default-1")
									span.stepNo 1
									| Share Your Details
							li.selectdate
								a(data-mui-toggle="tab",data-mui-controls="pane-default-2")
									span.stepNo 2
									| Select Your Starting Date
						div.mui-tabs__pane.pad2#pane-default-1.mui--is-active
							form#payform.mui-row
								.mui-col-md-7.mui-col-xs-12
									.mui-row
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#fullname(type="text",data-validetta="required,minLength[4]",autocomplete="off")
												label Name
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#mobile(type="text",data-validetta="number,required,minLength[10],maxLength[12]",autocomplete="off")
												label Mobile
										.mui-col-md-12.mui-col-xs-12
											.mui-textfield
												input#email(type="email",data-validetta="required,email",autocomplete="off")
												label Email
									.mui-row
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#flat(type="text", data-validetta="required",autocomplete="off")
												label Flat/Building
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#street(type="text", data-validetta="required", autocomplete="off")
												label Street
									.mui-row
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#city(type="text", data-validetta="required", autocomplete="off")
												label City
										.mui-col-md-6.mui-col-xs-12
											.mui-textfield
												input#pincode(type="text",autocomplete="off")
												label Pincode			
										//- .mui-col-md-12
											.mui-textfield
												input(type="text",id="address",data-validetta="required")
												label Address
								.mui-col-md-5.mui-col-xs-12
									.mui--z2#summary
										h1.mui--text-title
											span.fa.fa-ticket
											span  Purchase Summary
										br
										p.mui--text-subhead.uppercase #{service.name}
										p.mui--text-body2.capitalize #{service.finder.title}
										br
										.mui-row
											.mui-col-xs-8.mui--text-button
												span 3 day pass
											.mui-col-xs-4.mui--text-right
												span.fa.fa-rupee
												span.special 299
										hr
										.mui-row
											.mui-col-xs-8
												span Total Payable
											.mui-col-xs-4.mui--text-right
												span.fa.fa-rupee
												span 299
										br
										br
										.mui-row
											.mui-col-md-12.mui-col-lg-12.mui-col-sm-12.mui-col-xs-12.whie-bg.text-right
												button.mui-btn.mui-btn--primary(type="submit") NEXT STEP
							.mui-col-md-12.buy-note
								.mui--text-subhead.orange NOTE:
								ol
									li This offer is not valid for existing customers of the gym/studio
									li Renewing customers can reach the Fitness Concierge on 022-6122-2222 for exclusive renewal rates
									li Memberships once purchased are not transferrable or resalable 
									li Offers on memberships cannot be clubbed with other offers (unless specified)
									li Offer is valid as per availability of space / slots at the gym / studio 
									li Fitternity reserves the right to modify or cancel these offers at any given time without prior notice to any customers 
									li The gym / studio reserves the right to admission or terminate membership basis violation of their code of conduct. Fitternity is not responsible for the same. 
									li Refunds / modifications to memberships purchased are at the sole discretion of Fitternity
									li Fraudulent use of this offer will deem all purchases by that user and associated accounts invalid					
						div.mui-tabs__pane.pad2#pane-default-2
							form#prefdate.mui-row
								.mui-col-md-7.mui-col-xs-12
									if service.batches != undefined && service.batches.length > 0				
										h4.mui-text-title Select Your Preferred Batch

											//- each batch,index in service.trialschedules
												p.line
												.mui-row
													.pad2
														ul.mui-list--inline
															li Batch #{index+1}
																each batch
										hr						
										.row.radio-group
											each batch,index in service.batches
												.col-xs-12.col-md-6.batch-group
													- var mybatch = JSON.stringify(batch)
													.mui-row
														.mui-col-sm-1.mui-col-xs-2
															input(type="radio",name="batch",value="#{mybatch}", ng-model="user.batch")
														.mui-col-sm-11.mui-col-xs-10
															.mui-row
																.mui-col-md-3
																	h4.batches Batch #{index+1}
																.mui-col-md-9
																	each day in batch
																		span.day #{day.weekday.substring(0, 3)}
																			br
																			span.time #{day.slots[0].start_time}
													hr						
									h3.mui-text-title Select Your Preferred Starting Date
									.mui-row
										.mui-col-xs-1
											br
											i.fa.fa-calendar.fa-2x.calander
										.mui-col-xs-7
											.mui-textfield.no-pad
												br
												input(type="text",id="datepicker",data-validetta="required")
								.mui-col-md-5.mui-col-xs-12
									.mui--z2#summary
										h1.mui--text-title
											span.fa.fa-ticket
											span  Purchase Summary
										br
										p.mui--text-subhead.uppercase #{service.name}
										p.mui--text-body2.capitalize #{service.finder.title}
										br
										.mui-row
											.mui-col-xs-8.mui--text-button
												span 3 day pass
											.mui-col-xs-4.mui--text-right
												span.fa.fa-rupee
												span.special 299
										hr
										.mui-row
											.mui-col-xs-8
												span Total Payable
											.mui-col-xs-4.mui--text-right
												span.fa.fa-rupee
												span 299
										br
										br
										button.mui-btn.mui-btn--primary#payonlinebtn(data-paymentmethod="payonline") Pay Online
	form#buyform.hidden(name="buyonline",action="/payment",method="post",autocomplete="off")
		input#firstname(type="hidden",name="firstname")
		input#lastname(type="hidden",name="lastname",value="")
		input#email(type="hidden",name="email")
		input#phone(type="hidden",name="phone")
		input#transactionid(type="hidden",name="txnid")
		input#orderid(type="hidden",name="orderid")
		input#product(type="hidden",name="productinfo")
		input#amount(type="hidden",name="amount",value="299")
		input.confirmpage(type="hidden",name="successurl")
		input.confirmpage(type="hidden",name="cancelurl")
		input#servicename(type="hidden",name="service_name",value="#{service.name}")
		input#prefdate(type="hidden",name="schedule_date")
		input#vendorid(type="hidden",name="finderid", value="#{service.finder._id}")
		button(type="submit", hide).btn.btn-fill.btn-social.btn-warning.hide
block append js
	script(src="/js/campaign-buy.js")