extends layout
block append meta
	title #{title}
	meta(name="description" content="#{title} ")
	meta(name="robots" content="index,follow")
	link(rel="canonical", href="https://www.fitternity.com/crushfit")
	//- Facebook
	meta(property="og:title" content="#{title} ")
	meta(property="og:site_name" content="Fitternity")
	meta(property="og:url" content="https://www.fitternity.com/crushfit")
	meta(property="og:description" content="")
	meta(property="og:image" content="")
	//- Twitter
	meta(property="twitter:title" content="#{title}")
	meta(property="twitter:description" content="#{title}")
	meta(property="twitter:site" content="@FitternityIndia")
	meta(property="twitter:image:src" content="")
block content
	.crushfit
		.first-section
			.mui-container
				.mui-row.headsection
					.mui-row
						.mui-col-md-7
							img(src="/img/brands/crushfit/crush-banner.jpg",alt="Crush Fitness")
						.mui-col-md-4
							.formarea
								form#partnership.partner(name="partnership",autocomplete="off")
									h2.mui--text-title JOIN CRUSH EXCLUSIVELY THROUGH FITTERNITY
									br
									img(src="https://b.fitn.in/global/logo.png")
									br
									div.fields
										.mui-textfield.mui-textfield--float-label
											input#fullname(type='text',data-validetta="required,minLength[4]")
											label Full Name
										.mui-textfield.mui-textfield--float-label
											input#email(type='email',data-validetta="required,email")
											label Email Address
										.mui-textfield.mui-textfield--float-label
											input#mobile(type='text',data-validetta="required,number,minLength[10],maxLength[12]")
											label Mobile Number
										.mui-textfield.mui-textfield--float-label
											input#location(type='text')
											label Location
										//- .mui-select
											select(name='category')
										.mui--text-right			
											button#listyourbusiness.mui-btn.mui-btn--small.mui-btn--primary(type="submit") Submit
		.second-section
			.mui-container
				.mui-row.headsection
					.mui-col-md-12.text-center
						ul.mui-tabs__bar
							li.mui--is-active
								a(data-mui-toggle="tab" data-mui-controls="crushclub") Crush Club
							li
								a(data-mui-toggle="tab" data-mui-controls="crushcombat") Crush Combat
							li
								a(data-mui-toggle="tab" data-mui-controls="crushcore") Crush Core
							li
								a(data-mui-toggle="tab" data-mui-controls="crushcamp") Crush Camp
							li
								a(data-mui-toggle="tab" data-mui-controls="crushcurve") Crush Curve
							li
								a(data-mui-toggle="tab" data-mui-controls="crushcardio") Crush Cardio
							li
								a(data-mui-toggle="tab" data-mui-controls="personaltraining") Personal training
				.mui-row
					.mui-col-md-12				
						.mui-tabs__pane.mui--is-active#crushclub
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-club.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Club
									p Their most popular proprietary program, Crush Club combines simple and easy to follow steps from six different dance styles- Bollywood, Hip-Hop, Salsa, Merengue, Jazz and Bhangra. Based on principles of Interval training they boost your heart rate with racey Bhangra beats and allow recovery periods with hip swiveling Salsa songs. Once you start, you'll never want to stop.	
						.mui-tabs__pane#crushcombat
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-combat.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Combat
									p Learn basic kick-boxing punches and kicks and incorporate them into calorie crushing and fat exterminating drills combined with athletic exercise set to a pulsating soundtrack. Crush Combat harnesses your body's power to create a stress busting explosion of energy. Suitable for both men and women, Crush Combat will feel not only like a great workout, but a cool way to learn some self defence and release pent of stress factors while you're at it.
						.mui-tabs__pane#crushcore
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-core.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Core
									p Their qualified pilates trainers will help you achieve a dancer's body by building core strength and promoting overall body wellness with Crush Core- a pilates program set to music. The program incorporates the six principles of Pilates- Concentration, Control, Centering, Flow of movement, Precision and Breathing- and combines it with music to further layer this wonderful discipline. This program is a great alternative for people with orthopaedic issues or if you want to avoid high impact movements
						.mui-tabs__pane#crushcamp
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-camp.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Camp
									p Delhi is one of the greenest capital cities in the world. Take advantage of our city's incredible parks and urban forests and join Crushers in outdoor workouts- Army style. Get in touch with your inner beast with sprints, bodyweight exercises and military style exercises with equipment out in the park under the guidance of qualified instructors.
						.mui-tabs__pane#crushcurve
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-curve.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Curve
									p Flexibility and stretching are an important element of all exercise programs. Crush curve is an intensive stretching and flexibility training program that can be done as a standalone class or combined with other classes. Involving guided stretching and partner work crush curve takes an activity that is usually avoided because its considered “boring” and makes it a fun experience to ensure that you don’t skip one of the most fundamental aspects of a fitness regime.
						.mui-tabs__pane#crushcardio
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-cardio.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Crush Cardio
									p Crush Cardio adapts workouts used by athletes for strength and stamina into a accessible workout program for those new to exercises. The class is set to a soundtrack to match the intensity of the workout. Using simple gym based equipment, bodyweight, and floor exercises, crush condition achives muscle tone, core strength and calorie burn. Ideal for those wanting to add a basic muscle tone element to their cardio routines
						.mui-tabs__pane#personaltraining
							.mui-row
								.mui-col-md-5.col-xs-12
									img(src="/img/brands/crushfit/crush-curve.jpg",width="350px")
								.mui-col-md-7.col-xs-12
									h3 Personal Training
									p Crush has certified & qualified trainers who have undergone continuous education in fitness science & theory. They are the best people to motivate you. They can also create tailor made programs as per specific requirements.												
		.third-section
			.mui-container
				.mui-row.headsection
					.mui-col-md-12.text-center
						h3 Locate the Crushers
						ul.mui-tabs__bar
							li.mui--is-active
								a(data-mui-toggle="tab" data-mui-controls="alldelhi") All
							li
								a(data-mui-toggle="tab" data-mui-controls="northdelhi") North Delhi
							li
								a(data-mui-toggle="tab" data-mui-controls="eastdelhi") East Delhi
							li
								a(data-mui-toggle="tab" data-mui-controls="southdelhi") South Delhi
							li
								a(data-mui-toggle="tab" data-mui-controls="westdelhi") West Delhi
							li
								a(data-mui-toggle="tab" data-mui-controls="gurgaon") Gurgaon
				//- .mui-row
					.mui-col-md-12				
						.mui-tabs__pane.mui--is-active#alldelhi
							if services['1'] != undefined
								each service in services['1']
									if service.finder != null
										.mui-col-xs-12.mui-col-sm-12.mui-col-md-12.mui-col-lg-12.featured-box
											.mui--z2
												a(href="/#{service.finder.slug}")
													.image(style="background-image:linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.90)), url('https://b.fitn.in/f/c/#{service.finder.finder_coverimage}');min-height:175px;max-height:150px;background-position:100%;background-size:cover;background-repeat:no-repeat;")
													.inner-content
														.mui-row
															.mui-col-xs-8
																h4.mui--text-header #{service.name}
																if service.finder.average_rating > 0
																	.reviewrate(data-rating="#{Math.ceil(service.finder.average_rating)}")
																.location.mui--text-caption.capitalize #{service.location.name}
															.mui-col-xs-4
																button.mui-btn.mui-btn--small.mui-btn--primary() Buy

									


block append js
	script(src="/js/crushfit.js")

